[submodule "qemu"]
	path = qemu
	url = git://git.qemu-project.org/qemu.git
[submodule "z3"]
	path = z3
	url = https://git.codeplex.com/z3
[submodule "capstone"]
	path = capstone
	url = https://github.com/aquynh/capstone.git
